
NODE_ENV=prod
PORT=5001

DB_HOST=
DB= #database name
DB_PARAMETERS=

#cors
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://vibe.thesudoer.in

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_SIGNED_URL_EXPIRY_TIME= 
R2_PUB_ACCOUNT_ID=

DEFAULT_PROFILE_IMAGE=